<script src="/{0}?player_uuid={1}&request_type=new_board&content_type=js"></script>

<body onload="init();">
    {2}<!-- Insert user info here -->
    <p id="myBoard"></p>
    <p id="color_piece"></p>
    <h1 id="turn"></h1>
    <form>
      Source row number: <input type="text" id="source_column"><br>
      Destination row number: <input type="text" id="destination_column"><br>
      <button type="button" id="move_button">Move</button><br>
      <p id='server_response_msg'> </p><br>
      <p id="dice1"> </p>
      <p id="dice2"> </p>
      <p id="dice3"> </p>
      <p id="dice4"> </p>
      <button type="button" id="roll_dice">Roll Dice</button>
    </form>
</body>