
<body onload="init();">
  <div class="form">
        <div class="tab-content">
          <div id="signup">
            <h1>Sign Up</h1>

              <form name="create" method="post">

            <div class="top-row">
              <div class="field-wrap">
                <label>
                  First Name<span class="req">*</span>
                </label>
                <input type="text" id="fname" name="fname" +required autocomplete="off" />
              </div>

              <div class="field-wrap">
                <label>
                  Last Name<span class="req">*</span>
                </label>
                <input type="text" id="lname" name="lname" required autocomplete="off"/>
              </div>
            </div>

            <div class="field-wrap">
              <label>
                Email Address<span class="req">*</span>
              </label>
              <input type="email" id="email" name="email" required autocomplete="off"/>
            </div>

            <div class="field-wrap">
              <label>
                Set A Password<span class="req">*</span>
              </label>
              <input type="password" id="pw" name="pw" required autocomplete="off"/>
            </div>
            <button type="submit" class="button button-block"/>Get Started</button>
            </form>
          </div>

          <div id="login">
            <form name="login" method="post">
            <h1>Welcome Back!</h1>

              <div class="field-wrap">
              <label>
                Email Address<span class="req">*</span>
              </label>
              <input type="email" id="email" name="email" required autocomplete="off"/>
            </div>

            <div class="field-wrap">
              <label>
                Password<span class="req">*</span>
              </label>
              <input type="password" id="pw" name="pw" required autocomplete="off"/>
            </div>
            <button type="submit" class="button button-block"/>Log In</button>
            </form>
  <script>
  function hashCode(s) {
      for(var i = 0, h = 0; i < s.length; i++)
          h = Math.imul(31, h) + s.charCodeAt(i) | 0;
      return h;
  }

  function init() {
    // See if the cookies we have are still valid.
    console.log("Cookies " + document.cookie);
    if (document.cookie.split(";").length == 2) {
      chunks = document.cookie.split(";")[1].split(" ");
      game_uuid = "";
      new_player_uuid = "";
      for (index in chunks) {
        console.log("chunk: " + chunks[index]);
        if (chunks[index].includes("game_uuid")) {
          game_uuid = chunks[index].split("=")[1];
          console.log("Found game_uuid: " + game_uuid);
        }
        if (chunks[index].includes("new_player_uuid")) {
          new_player_uuid = chunks[index].split("=")[1];
          console.log("Found new_player_uuid: " + new_player_uuid);
        }
      }
      if (game_uuid != "" && new_player_uuid != "") {
        var xhttp = new XMLHttpRequest();
        path = game_uuid + "?player_uuid="+ new_player_uuid + "&request_type=poll";
        xhttp.open("GET", path, true);
        xhttp.onload = function(e) {
          if (xhttp.readyState === 4) {
            if (xhttp.status === 200) {
              console.log("Game found! Redirecting...");
              window.location.assign(
                "https://localhost:4443/" + game_uuid + "?player_uuid="+ new_player_uuid + 
                "&request_type=new_board&content_type=html"
                );
            }
          }
        }
        xhttp.send();
      }
    }
  }

  function login() {
      var username = document.getElementById(this.id + "email").value;
      var password = document.getElementById(this.id + "pw").value;

    this.http.open("post", this.action, false, "login", username, password);
    this.http.send("");
      if (http.status == 200) {
          document.location = this.action;
          return true;
      } else {
          alert("Incorrect username and/or password.");
      }
      return false;
  }
  </script>
          </div>

        </div><!-- tab-content -->

  </div> <!-- /form -->

</body>