<body onload="init();">
    <form>
      <button type="button" id="find_game_button">Find Game</button><br><br>
      <button type="button" id="view_player_records_button">View Player Records</button><br><br>
      <button type="button" id="view_history_button">Game History</button><br>
    </form>
    <p id="player_records"></p>
</body>

<script>
    function init() {
        server_url = 'https://localhost:4443/'

        // Get the player uuid cookie that is returned in the header of this page.
        //player_uuid = find_cookie_value('player_uuid');
        console.log('Cookies on init: ' + document.cookie)
        /*
        if (document.cookie.split(" ").length == 1) {
            player_uuid = document.cookie.split("=")[1];
        }
        else if (document.cookie.split(" ").length == 3) {
            player_uuid = document.cookie.split(" ")[2].split("=")[1]
        }
        */
        player_uuid = find_cookie_value('player_uuid');
        console.log('player_uuid: ' + player_uuid)

        find_game_elem = document.getElementById('find_game_button');
        view_player_records_elem = document.getElementById('view_player_records_button');
        view_history_elem = document.getElementById('view_history_button');
        player_records_elem = document.getElementById('player_records');

        find_game_elem.onclick = find_game;
        view_player_records_elem.onclick = view_player_records;
        view_history_elem.onclick = view_history;
    }

    function poll_find_game() {
        var xhttp = new XMLHttpRequest(); 
        xhttp.open("GET", "find_game?player_uuid="+ player_uuid, true);
        xhttp.onload = function(e) {
            if (xhttp.readyState === 4) {
                if (xhttp.status === 200) {
                    server_response = xhttp.responseText;
                    console.log('Server response: ' + server_response);
                    if (server_response != 'False') {
                        clearInterval(poll_interval);
                        console.log('Server response game_uuid: ' + server_response);
                        // Make the new_board request.
                        window.location.assign(
                            server_url + server_response + "?player_uuid=" + 
                            player_uuid + "&request_type=new_board&content_type=html"
                            );
                    }
                }
            }
        }
        xhttp.send();
    }

    function find_game() {
        poll_interval = setInterval(poll_find_game, 3000);
    }

    function view_player_records() {
        console.log("view_player_records called");
        var xhttp = new XMLHttpRequest(); 
        xhttp.open("GET", "get_player_records?player_uuid="+ player_uuid, true);
        xhttp.onload = function(e) {
            if (xhttp.readyState === 4) {
                if (xhttp.status === 200) {
                    server_response = xhttp.responseText;
                    console.log('Server response: ' + server_response);
                    player_records_elem.innerHTML = server_response;
                }
            }
        }
        xhttp.send();
    }

    function view_history() {
        console.log('view_history');
    }

    /**
     * Finds the cookie value of the given key.
     * @param {*} cookie_key the cookie key
     * Return: the value associated with the cookie key.
     */
    function find_cookie_value(cookie_key) {
        cookies = document.cookie.split(" ")
        for (i in cookies) {
            values = cookies[i].split("=");
            if (values[0] == cookie_key) {
            console.log("find_cookie_value returning " + values[1]);
            return values[1].replace(';', '');
            }
        }
    }
</script>